<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Auswertung der Ermittlungsakten</title>
    <style>
        body {
            font-family: sans-serif;
            color: #555;
        }

        h2 {
            margin-top: 2em;
        }

        dt {
            color: #333;
        }

        dt:not(:first-child) {
            margin-top: 2em;
        }
    </style>
</head>

<body>
    <h1>Auswertung der Ermittlungsakten</h1>

    <h2>Vorbemerkungen</h2>
    {{ remarks|linebreaks }}

    <h2>Auswertung der einzelnen Tage</h2>
    <dl>
        {% for day, elements in days %}
        <dt>{{ day }}</dt>
        <dd>
            <p>Arbeitnehmer laut Stundennachweisen</p>
            <p>
            <ul>
                {% for hour in elements.hours %}
                <li> {{ hour.begin }} Uhr – {{ hour.end }} Uhr (Pause {{ hour.break_time }} Min.): {{ hour.employee }}
                    ({{hour.sheet.source}})</li>
                {% endfor %}
                <li style="margin-top: 0.5em; margin-left: -1em; list-style-type: none;">
                    Summe: {{ elements.hours_total|floatformat:1 }} Personenstunden</li>
            </ul>
            </p>
            <p>Mitarbeit durch Inhaber und Angehörige (durchschnittliche Angabe)</p>
            <p style="padding-left: 1.5em;">Summe: {{ elements.coworking_total|floatformat:1 }} Personenstunden</p>
            <p>Gesamtstunden für Arbeitnehmer sowie Inhaber und Angehörige</p>
            <p style="padding-left: 1.5em;">
                Summe: {{ elements.work_total|floatformat:1 }} Personenstunden
            </p>
            <p>Bedarf an Mitarbeitern insgesamt</p>
            <p>
            <ul>
                {% for staff in elements.staffs %}
                <li>{{ staff.restaurant }}: {{ staff.hours }} Personenstunden <small>(#{{ staff.pk }})</small></li>
                {% endfor %}
                <li style="margin-top: 0.5em; margin-left: -1em; list-style-type: none;">
                    Summe: {{ elements.staff_total|floatformat:1 }} Personenstunden</li>
            </ul>
            </p>
        </dd>
        {% endfor %}
    </dl>
</body>

</html>
